In [342]:
import numpy as np
import pandas as pd

In [343]:
df = pd.read_csv('train_dataset.csv')
df1 = pd.read_csv('test_dataset.csv')

In [344]:
df.head()

,EmployeeID,Attrition,Age,TravelProfile,Department,HomeToWork,EducationField,Gender,HourlnWeek,Involvement,...,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,SalaryHikelastYear,WorkExperience,LastPromotion,CurrentProfile,MaritalStatus,MonthlyIncome
0,5110001.0,0.0,35.0,Rarely,Analytics,5.0,CA,Male,69.0,1.0,...,1.0,1.0,1.0,1.0,20.0,7.0,2.0,NaN,M,18932.0
1,5110002.0,1.0,32.0,Yes,Sales,5.0,Statistics,Female,62.0,4.0,...,2.0,0.0,8.0,0.0,20.0,4.0,1.0,NaN,Single,18785.0
2,5110003.0,0.0,31.0,Rarely,Analytics,5.0,Statistics,F,45.0,5.0,...,2.0,1.0,3.0,0.0,26.0,12.0,1.0,3.0,Single,22091.0
3,5110004.0,0.0,34.0,Yes,Sales,10.0,Statistics,Female,32.0,3.0,...,4.0,1.0,1.0,0.0,23.0,5.0,1.0,3.0,Divorsed,20302.0
4,5110005.0,0.0,37.0,No,Analytics,27.0,Statistics,Female,49.0,3.0,...,4.0,1.0,8.0,0.0,21.0,12.0,1.0,9.0,Divorsed,21674.0

In [345]:
df1.head()

,EmployeeID,Age,TravelProfile,Department,HomeToWork,EducationField,Gender,HourlnWeek,Involvement,WorkLifeBalance,...,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,SalaryHikelastYear,WorkExperience,LastPromotion,CurrentProfile,MaritalStatus,MonthlyIncome
0,6110001,18.0,No,NaN,9.0,CA,Male,80.0,3,2,...,3,1,1,0,17.0,0.0,0.0,0.0,Single,16904.0
1,6110002,20.0,Rarely,Analytics,28.0,Statistics,Female,59.0,1,3,...,1,1,2,1,18.0,2.0,1.0,NaN,Single,18994.0
2,6110003,50.0,Rarely,Analytics,19.0,CA,Female,76.0,3,3,...,5,0,5,1,22.0,18.0,3.0,3.0,M,18587.0
3,6110004,32.0,Rarely,Sales,23.0,Statistics,Female,73.0,5,2,...,3,0,4,1,17.0,5.0,3.0,3.0,Married,20559.0
4,6110005,39.0,Rarely,Analytics,7.0,CA,Male,42.0,4,1,...,5,1,4,0,20.0,9.0,1.0,7.0,Married,24991.0

In [346]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7810 entries, 0 to 7809
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EmployeeID          5180 non-null   float64
 1   Attrition           5180 non-null   float64
 2   Age                 4864 non-null   float64
 3   TravelProfile       5180 non-null   object
 4   Department          5056 non-null   object
 5   HomeToWork          4925 non-null   float64
 6   EducationField      5180 non-null   object
 7   Gender              5134 non-null   object
 8   HourlnWeek          4893 non-null   float64
 9   Involvement         5180 non-null   float64
 10  WorkLifeBalance     5180 non-null   float64
 11  Designation         5142 non-null   object
 12  JobSatisfaction     5180 non-null   float64
 13  ESOPs               5180 non-null   float64
 14  NumCompaniesWorked  5180 non-null   float64
 15  OverTime            5180 non-null   float64
 16  SalaryHikelastYear  5011 non-null   float64
 17  WorkExperience      4993 non-null   float64
 18  LastPromotion       5110 non-null   float64
 19  CurrentProfile      4869 non-null   float64
 20  MaritalStatus       5180 non-null   object
 21  MonthlyIncome       5087 non-null   float64
dtypes: float64(16), object(6)
memory usage: 1.3+ MB

In [347]:
df['Attrition'].value_counts()

0.0    3735
1.0    1445
Name: Attrition, dtype: int64

In [348]:
df.describe()

,EmployeeID,Attrition,Age,HomeToWork,HourlnWeek,Involvement,WorkLifeBalance,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,SalaryHikelastYear,WorkExperience,LastPromotion,CurrentProfile,MonthlyIncome
count,5.180000e+03,5180.000000,4864.000000,4925.000000,4893.000000,5180.000000,5180.000000,5180.000000,5180.000000,5180.000000,5180.000000,5011.000000,4993.000000,5110.000000,4869.000000,5087.000000
mean,5.112590e+06,0.278958,37.108553,11.107411,57.979767,3.226641,3.012741,3.144402,0.490541,3.157336,0.313514,20.649371,11.165832,2.552838,4.385295,21692.296442
std,1.495482e+03,0.448530,9.248647,8.455577,12.996674,0.872431,1.410602,1.342776,0.499959,2.606036,0.463966,3.706469,7.797783,3.234467,3.617643,4770.637922
min,5.110001e+06,0.000000,18.000000,1.000000,10.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,16.000000,0.000000,0.000000,0.000000,1000.000000
25%,5.111296e+06,0.000000,30.000000,5.000000,49.000000,3.000000,2.000000,2.000000,0.000000,1.000000,0.000000,18.000000,6.000000,1.000000,2.000000,18362.000000
50%,5.112590e+06,0.000000,36.000000,9.000000,59.000000,3.000000,3.000000,3.000000,0.000000,2.000000,0.000000,20.000000,9.000000,1.000000,3.000000,20160.000000
75%,5.113885e+06,1.000000,43.000000,16.000000,67.000000,4.000000,4.000000,4.000000,1.000000,5.000000,1.000000,23.000000,15.000000,3.000000,7.000000,23443.500000
max,5.115180e+06,1.000000,61.000000,121.000000,99.000000,5.000000,5.000000,5.000000,1.000000,21.000000,1.000000,31.000000,41.000000,16.000000,18.000000,95000.000000

In [349]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

In [350]:
df = pd.get_dummies(df,drop_first = True)

In [351]:
df1 = pd.get_dummies(df1,drop_first = True)

In [352]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7810 entries, 0 to 7809
Data columns (total 34 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   EmployeeID                        5180 non-null   float64
 1   Attrition                         5180 non-null   float64
 2   Age                               4864 non-null   float64
 3   HomeToWork                        4925 non-null   float64
 4   HourlnWeek                        4893 non-null   float64
 5   Involvement                       5180 non-null   float64
 6   WorkLifeBalance                   5180 non-null   float64
 7   JobSatisfaction                   5180 non-null   float64
 8   ESOPs                             5180 non-null   float64
 9   NumCompaniesWorked                5180 non-null   float64
 10  OverTime                          5180 non-null   float64
 11  SalaryHikelastYear                5011 non-null   float64
 12  WorkExperience                    4993 non-null   float64
 13  LastPromotion                     5110 non-null   float64
 14  CurrentProfile                    4869 non-null   float64
 15  MonthlyIncome                     5087 non-null   float64
 16  TravelProfile_Rarely              7810 non-null   uint8
 17  TravelProfile_Yes                 7810 non-null   uint8
 18  Department_Marketing              7810 non-null   uint8
 19  Department_Sales                  7810 non-null   uint8
 20  EducationField_Engineer           7810 non-null   uint8
 21  EducationField_MBA                7810 non-null   uint8
 22  EducationField_Marketing Diploma  7810 non-null   uint8
 23  EducationField_Other              7810 non-null   uint8
 24  EducationField_Statistics         7810 non-null   uint8
 25  Gender_Female                     7810 non-null   uint8
 26  Gender_Male                       7810 non-null   uint8
 27  Designation_Executive             7810 non-null   uint8
 28  Designation_Manager               7810 non-null   uint8
 29  Designation_Senior Manager        7810 non-null   uint8
 30  Designation_VP                    7810 non-null   uint8
 31  MaritalStatus_M                   7810 non-null   uint8
 32  MaritalStatus_Married             7810 non-null   uint8
 33  MaritalStatus_Single              7810 non-null   uint8
dtypes: float64(16), uint8(18)
memory usage: 1.1 MB

In [353]:
df.isnull().sum()

EmployeeID                          2630
Attrition                           2630
Age                                 2946
HomeToWork                          2885
HourlnWeek                          2917
Involvement                         2630
WorkLifeBalance                     2630
JobSatisfaction                     2630
ESOPs                               2630
NumCompaniesWorked                  2630
OverTime                            2630
SalaryHikelastYear                  2799
WorkExperience                      2817
LastPromotion                       2700
CurrentProfile                      2941
MonthlyIncome                       2723
TravelProfile_Rarely                   0
TravelProfile_Yes                      0
Department_Marketing                   0
Department_Sales                       0
EducationField_Engineer                0
EducationField_MBA                     0
EducationField_Marketing Diploma       0
EducationField_Other                   0
EducationField_Statistics              0
Gender_Female                          0
Gender_Male                            0
Designation_Executive                  0
Designation_Manager                    0
Designation_Senior Manager             0
Designation_VP                         0
MaritalStatus_M                        0
MaritalStatus_Married                  0
MaritalStatus_Single                   0
dtype: int64

In [354]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values= np.nan, strategy='mean')

In [355]:
imr = imputer.fit(df)
df= pd.DataFrame(imr.transform(df), columns=df.columns)

In [356]:
df.isnull().sum()

EmployeeID                          0
Attrition                           0
Age                                 0
HomeToWork                          0
HourlnWeek                          0
Involvement                         0
WorkLifeBalance                     0
JobSatisfaction                     0
ESOPs                               0
NumCompaniesWorked                  0
OverTime                            0
SalaryHikelastYear                  0
WorkExperience                      0
LastPromotion                       0
CurrentProfile                      0
MonthlyIncome                       0
TravelProfile_Rarely                0
TravelProfile_Yes                   0
Department_Marketing                0
Department_Sales                    0
EducationField_Engineer             0
EducationField_MBA                  0
EducationField_Marketing Diploma    0
EducationField_Other                0
EducationField_Statistics           0
Gender_Female                       0
Gender_Male                         0
Designation_Executive               0
Designation_Manager                 0
Designation_Senior Manager          0
Designation_VP                      0
MaritalStatus_M                     0
MaritalStatus_Married               0
MaritalStatus_Single                0
dtype: int64

In [357]:
df.drop('EmployeeID',axis = 1,inplace = True)
test_file_ids = df1['EmployeeID'] 
df1.drop('EmployeeID',axis = 1,inplace = True)

In [358]:
X = df.drop('Attrition',axis = 1)
y = df['Attrition']

In [359]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3,random_state = 0)

In [366]:
from sklearn import preprocessing
from sklearn import utils

lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y)

# Decision Tree

In [371]:
from sklearn.tree import DecisionTreeClassifier

In [368]:
dt_model = DecisionTreeClassifier(criterion = 'gini' )
dt_model.fit(X_train, y_train)

ValueError: Unknown label type: 'continuous'

In [362]:
y_predict = dt_model.predict(X_test)

AttributeError: 'DecisionTreeClassifier' object has no attribute 'tree_'

In [363]:
ytrain_predict = dt_model.predict(X_train)
ytest_predict = dt_model.predict(X_test)

AttributeError: 'DecisionTreeClassifier' object has no attribute 'tree_'

In [364]:
from sklearn.metrics import roc_auc_score,roc_curve,classification_report,confusion_matrix

In [365]:
print(classification_report(y_train, ytrain_predict))

ValueError: Found input variables with inconsistent numbers of samples: [5467, 2562]

In [ ]:
print(classification_report(y_test, ytest_predict))

# Random Forest

In [261]:
from sklearn.ensemble import RandomForestClassifier

In [262]:
rf_model = RandomForestClassifier(n_estimators=10,criterion='gini',max_depth=10,random_state=0)
rf_model.fit(X_train,y_train)

y_pred_train = rf_model.predict(X_train)
y_pred_test = rf_model.predict(X_test)

ValueError: Unknown label type: 'continuous'

In [ ]:
print(classification_report(y_train,y_pred_train))

In [ ]:
print(classification_report(y_test,y_pred_test))

# Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model = LogisticRegression(solver='liblinear',max_iter=10000,verbose=True,n_jobs=2)
model.fit(X_train, y_train)

In [ ]:
ytrain_predict = model.predict(X_train)
ytest_predict = model.predict(X_test)
ytest_predict_prob=model.predict_proba(X_test)

In [ ]:
print(classification_report(y_train, ytrain_predict))

In [ ]:
print(classification_report(y_test, ytest_predict))

# LDA

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn import metrics,model_selection

In [ ]:
clf = LinearDiscriminantAnalysis()
model=clf.fit(X_train,y_train)

In [ ]:
pred_class_train = model.predict(X_train)
pred_class_test = model.predict(X_test)

In [ ]:
print('Classification Report of the training data:\n\n',metrics.classification_report(y_train,pred_class_train),'\n')
print('Classification Report of the test data:\n\n',metrics.classification_report(y_test,pred_class_test),'\n')

# Final Prediction

In [ ]:
final_predictions = rf_model.predict(df1)
submission=pd.DataFrame([test_file_ids,final_predictions]).T
submission.rename(columns={"EmployeeID": "Attrition"},inplace=True)
submission.to_csv('ABC.csv',index = False)